<%- include ("_partial/_header.ejs"); %>
</div>
<div class="col-md-10">
    <br /> 
    <br /> 
    <br /> 
    <div class="panel panel-default">
 
        <div class="panel-heading" >
            <h2>Como pedir ajuda</h2>
        </div>
        </br>
        </br>
        <div class="panel-body">
            <h3>Para comeceçar a utilizar o site registe-se no website:</h3>
        </br>
            <h4>1 -Se quiser se registar como um passageiro preencha o formulário na página "Registar como passageiro"</h4>
            <h4>2 -Se quiser se registar como um condutor preencha o formulário na página "Registar como condutor". </h4>
        </br>
            <h3>Como pedir uma boleia :</h3>
        </br>
            <h4>1 -Na página do login introduzir os dados da sua conta pessoal</h4>
            <h4>2 -Já na sua conta na barra do website procurar a opção "Pedir Boleia" e escolher uma das opções " Boleia Ida" ou "Boleia Ida e Volta"</h4>
            <h4>3 -Preencher o formulário consoante os dados pedidos e é só aguardar que a sua boleia seja aceite.</h4>
        </br>
        <h3>Como aceitar uma boleia :</h3>
        </br>
             <h4>1 -Na página do login introduzir os dados da sua conta pessoal</h4>
             <h4>2 -Após entrar na website em modo condutor aparceram todas as boleias disponíveis para aceitar.</h4>
    
        </div>
    </div>
</div>





<%- include ("_partial/_footer.ejs"); %>