<!DOCTYPE html>
 
<html>
<head>
    <meta charset="utf-8">
    <title>Boleias no Fundão</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

</head>
 
<body>
    

<div class="navbar navbar-default navbar-static-top" role="navigation">
     <div class="container">
        <div class="navbar-header">
        <a class="navbar-brand" href="#">Boleias no Fundão</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
        <li><a href="/boleiasteste">Lista de Boleias</a></li>
        <li><a href="/logout">logout</a></li>
      </ul>

    </div>

</div>
 
<h1>LOGGED ON </h1>

</div>
</body>
</html>