<!DOCTYPE html>
 
<html>
<head>
    <meta charset="utf-8">
    <title>Boleias no Fundão</title>
    
  <!--  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
 <style>
       body {
        background: url("https://i.postimg.cc/8k2v3Jyw/Castelo-da-aldeia-de-Castelo-Novo.jpg") no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover;
   }
     input[type=text], select {
       width: 100%;
       padding: 12px 20px;
       margin: 8px 0;
       display: inline-block;
       border: 1px solid #ccc;
       border-radius: 4px;
       box-sizing: border-box;
     }
     
     input[type=submit] {
       width: 100%;
       background-color: #4c6baf;
       color: white;
       padding: 14px 20px;
       margin: 8px 0;
       border: none;
       border-radius: 4px;
       cursor: pointer;
     }
     
     input[type=submit]:hover {
       background-color: #4b45a0;
     }
     
     .panel  {
       border-radius: 5px;
       background-color: #f2f2f2;
       padding: 20px;
       transform: translateX(8%) ;
     }
     .input-group .form-control {
       margin: 0px;
       
      }
      .input-group-text {
    min-width:180px;
    text-align:left;
    
}
.form-select{
  width: 78%;
  margin: 0px;
}
      
   </style>
  </head>
 
<body>
    
    <nav class="navbar navbar-dark bg-dark">
        <div class="container">
        <a class="navbar-brand" href="#">Boleias no fundao</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item ">
              <a class="nav-link" href="/utilizador">Utilizador</a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" href="/minhasBoleias">As minhas Boleias</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               Pedir Boleia
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="/pedirBoleiaIda">Boleia Ida</a>
                <a class="dropdown-item" href="/pedirBoleiaIdaVolta">Boleia Ida e Volta</a>
              </div>
              <li class="nav-item">
                <a class="nav-link" href="/logout">logout</a>
              </li>
            </li>
          </ul>
        </div>
        </div>
      </nav>

<div class="container">
    <br /> 
    <br /> 
    <br /> 
    <div class="col-md-10">
      <br /> 
      <br /> 
      <br /> 
      <div class="panel panel-default">
        <div class="panel-heading" >
          <h1>Pede a tua boleia:</h1>
      </div>
<div class="panel-body">
    <form class="form-signin" method="POST" action="/submitBoleiaIdaVolta">

        <div class="input-group">
          <span class="input-group-text"> Dia:</span>
            <input type="date" id="data" name="data" min="" required><br><br>
        </div>
        <details>
          <summary>Boleia Recorrente?</summary>
        <div class="input-group">
          <span class="input-group-text"> Até Dia:</span>
           <input type="date" id="dataFinal" name="dataFinal" min= "" max="" ><br><br>
        </details>
        <br /> 
        <h1>Ida:</h1>
          <br /> 
        <div class="input-group">
          <span class="input-group-text"> Hora :</span>
            <input type="time" id="horainicial1" name="horainicial1" required>
            <label for="appt">Até</label>
            <input type="time" id="horafinal1" name="horafinal1" required>
        </div>
        <br />      
        <div class="input-group mb-3">
          <label class="input-group-text" for="inputGroupSelect01">Vou de :</label>
          <select class="form-select"  name ="freguesia">
            <option selected>Escolhe...</option>
            <option value="Alcaide">Alcaide</option>
            <option value="Alcaria">Alcaria</option>
            <option value="Alcongosta">Alcongosta</option>
            <option value="Alpedrinha">Alpedrinha</option>
            <option value="Barroca">Barroca</option>
            <option value="Bogas de Cima">Bogas de Cima</option>
            <option value="Capinha">Capinha</option>
            <option value="Castelo Novo">Castelo Novo</option>
            <option value="Enxames">Enxames</option>
            <option value="Fatela">Fatela</option>
            <option value="Fundão">Fundão</option>
            <option value="Janeiro de Cima e Bogas de Baixo">Janeiro de Cima e Bogas de Baixo</option>
            <option value="Lavacolhos">Lavacolhos</option>
            <option value="Orca">Orca</option>
            <option value="Pêro Viseu">Pêro Viseu</option>
            <option value="Póvoa de Atalaia e Atalaia do Campo">Póvoa de Atalaia e Atalaia do Campo</option>
            <option value="Silvares">Silvares</option>
            <option value="Soalheira">Soalheira</option>
            <option value="Souto da Casa">Souto da Casa</option>
            <option value="Telhado">Telhado</option>
            <option value="Três Povos">Três Povos</option>
            <option value="Vale de Prazeres e Mata da Rainha">Vale de Prazeres e Mata da Rainha</option>
          </select>
        </div>
        <div class="input-group">
            <span class="input-group-text"> Rua ou Local:</span>
            <input type="text" class="form-control" placeholder="ex:Covilhã " name="localinicial1" aria-describedby="basic-addon1" required>
        </div>
        <br />   
        <div class="input-group mb-3">
          <label class="input-group-text" for="inputGroupSelect01">Para</label>
          <select class="form-select"  name ="freguesia1">
            <option selected>Escolhe...</option>
            <option value="Alcaide">Alcaide</option>
            <option value="Alcaria">Alcaria</option>
            <option value="Alcongosta">Alcongosta</option>
            <option value="Alpedrinha">Alpedrinha</option>
            <option value="Barroca">Barroca</option>
            <option value="Bogas de Cima">Bogas de Cima</option>
            <option value="Capinha">Capinha</option>
            <option value="Castelo Novo">Castelo Novo</option>
            <option value="Enxames">Enxames</option>
            <option value="Fatela">Fatela</option>
            <option value="Fundão">Fundão</option>
            <option value="Janeiro de Cima e Bogas de Baixo">Janeiro de Cima e Bogas de Baixo</option>
            <option value="Lavacolhos">Lavacolhos</option>
            <option value="Orca">Orca</option>
            <option value="Pêro Viseu">Pêro Viseu</option>
            <option value="Póvoa de Atalaia e Atalaia do Campo">Póvoa de Atalaia e Atalaia do Campo</option>
            <option value="Silvares">Silvares</option>
            <option value="Soalheira">Soalheira</option>
            <option value="Souto da Casa">Souto da Casa</option>
            <option value="Telhado">Telhado</option>
            <option value="Três Povos">Três Povos</option>
            <option value="Vale de Prazeres e Mata da Rainha">Vale de Prazeres e Mata da Rainha</option>
          </select>
        </div>
        <div class="input-group">
            <span class="input-group-text"> Rua ou Local:</span>
            <input type="text" class="form-control" placeholder="ex:Fundão " name="localfinal1" aria-describedby="basic-addon1" required>
        </div>
        <br />    
        <h1>Regresso:</h1>
        <br /> 
        <div class="input-group">
          <span class="input-group-text"> Hora :</span>
            <input type="time" id="horainicial2" name="horainicial2" required> 
            <label for="appt">Até</label>
            <input type="time" id="horafinal2" name="horafinal2" required>
        </div>
        <br />
        <div class="input-group mb-3">
          <label class="input-group-text" for="inputGroupSelect01">Vou de:</label>
          <select class="form-select"  name ="freguesia2">
            <option selected>Escolhe...</option>
            <option value="Alcaide">Alcaide</option>
            <option value="Alcaria">Alcaria</option>
            <option value="Alcongosta">Alcongosta</option>
            <option value="Alpedrinha">Alpedrinha</option>
            <option value="Barroca">Barroca</option>
            <option value="Bogas de Cima">Bogas de Cima</option>
            <option value="Capinha">Capinha</option>
            <option value="Castelo Novo">Castelo Novo</option>
            <option value="Enxames">Enxames</option>
            <option value="Fatela">Fatela</option>
            <option value="Fundão">Fundão</option>
            <option value="Janeiro de Cima e Bogas de Baixo">Janeiro de Cima e Bogas de Baixo</option>
            <option value="Lavacolhos">Lavacolhos</option>
            <option value="Orca">Orca</option>
            <option value="Pêro Viseu">Pêro Viseu</option>
            <option value="Póvoa de Atalaia e Atalaia do Campo">Póvoa de Atalaia e Atalaia do Campo</option>
            <option value="Silvares">Silvares</option>
            <option value="Soalheira">Soalheira</option>
            <option value="Souto da Casa">Souto da Casa</option>
            <option value="Telhado">Telhado</option>
            <option value="Três Povos">Três Povos</option>
            <option value="Vale de Prazeres e Mata da Rainha">Vale de Prazeres e Mata da Rainha</option>
          </select>
        </div>      
        <div class="input-group">
            <span class="input-group-text"> Rua ou Local:</span>
            <input type="text" class="form-control" placeholder="Partida votlar " name="localinicial2" aria-describedby="basic-addon1" required>
        </div>
        <br />  
        <div class="input-group mb-3">
          <label class="input-group-text" for="inputGroupSelect01">Para</label>
          <select class="form-select"  name ="freguesia3">
            <option selected>Escolhe...</option>
            <option value="Alcaide">Alcaide</option>
            <option value="Alcaria">Alcaria</option>
            <option value="Alcongosta">Alcongosta</option>
            <option value="Alpedrinha">Alpedrinha</option>
            <option value="Barroca">Barroca</option>
            <option value="Bogas de Cima">Bogas de Cima</option>
            <option value="Capinha">Capinha</option>
            <option value="Castelo Novo">Castelo Novo</option>
            <option value="Enxames">Enxames</option>
            <option value="Fatela">Fatela</option>
            <option value="Fundão">Fundão</option>
            <option value="Janeiro de Cima e Bogas de Baixo">Janeiro de Cima e Bogas de Baixo</option>
            <option value="Lavacolhos">Lavacolhos</option>
            <option value="Orca">Orca</option>
            <option value="Pêro Viseu">Pêro Viseu</option>
            <option value="Póvoa de Atalaia e Atalaia do Campo">Póvoa de Atalaia e Atalaia do Campo</option>
            <option value="Silvares">Silvares</option>
            <option value="Soalheira">Soalheira</option>
            <option value="Souto da Casa">Souto da Casa</option>
            <option value="Telhado">Telhado</option>
            <option value="Três Povos">Três Povos</option>
            <option value="Vale de Prazeres e Mata da Rainha">Vale de Prazeres e Mata da Rainha</option>
          </select>
        </div> 
        <div class="input-group">
            <span class="input-group-text"> Rua ou Local:</span>
            <input type="text" class="form-control" placeholder="Chegada voltar" name="localfinal2" aria-describedby="basic-addon1" required>
        </div>
        <br />   
        <div class="input-group">
          <div class="input-group-prepend">
          <span class="input-group-text">Informação relevante</span>
          </div>
          <textarea class="form-control" placeholder="ex: Necessidade especial" name="descricao" aria-describedby="basic-addon1"></textarea>
          </div>
          <br />         
        <input type="submit" class="btn btn-primary mb-3" value="Pedir boleia" />

    </form>
</div>
</div>
</div>

<script>

  var today = new Date();
  var dd = today.getDate();
  var mm = today.getMonth()+1;
  var yyyy = today.getFullYear();
  if(dd<10){
    dd='0'+dd
  } 
  if(mm<10){
    mm='0'+mm
  } 
  
  today = yyyy+'-'+mm+'-'+dd;
  document.getElementById("data").setAttribute("min", today);
  </script>
    
  
  <script>
  
    var today = new Date();
    var dd = today.getDate();
    var mm = today.getMonth()+1;
    var yyyy = today.getFullYear();
    if(dd<10){
      dd='0'+dd
    } 
    if(mm<10){
      mm='0'+mm
    } 
    
    today = yyyy+'-'+mm+'-'+dd;
    document.getElementById("dataFinal").setAttribute("min", today);
  </script>
  
  
  <script>
  
    var today = new Date();
    var dd ;
    var mm = today.getMonth()+1;
    var yyyy = today.getFullYear();
  
    if(dd<10){
      dd='0'+dd
    } 
    if(mm<10){
      mm='0'+mm
    } 
  
    if(mm == "04" ||mm == "06"|| mm == "09" || mm == "11"){
      dd = 30; 
    }
    if(mm == "01" || mm == "03"|| mm == "05"|| mm == "07"|| mm == "08"|| mm == "10"|| mm == "12"){
    dd = 31; 
    }
    if(mm == "02" ){
    dd = 28;
    }
  
    today = yyyy+'-'+mm+'-'+dd;
    document.getElementById("dataFinal").setAttribute("max", today);
  </script>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>

</body>
</html>