<!DOCTYPE html>
 
<html>
<head>
    <meta charset="utf-8">
    <title>Boleias no Fundão</title>
   <!--<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"> --> 
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> 

    <style>

       body {
  
        background: url("https://i.postimg.cc/252VT3Jk/Munic-pio-do-Fund-o.jpg") no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover;
       }

      input[type=text], select {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
      }
      
      input[type=submit] {
        width: 100%;
        background-color: #4c6baf;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
      }
      
      input[type=submit]:hover {
        background-color: #4b45a0;
      }
      
      .panel  {
        border-radius: 5px;
        background-color: #f2f2f2;
        padding: 20px;
        transform: translateX(8%) ;
      }
      .input-group .form-control  {
       margin: 0px;
      }

      .input-group-text {
    min-width:160px;
    text-align:left;
}
.form-select{
  width: 78%;
  margin: 0px;
}

.logo-image{
    width: 46px;
    height: 46px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: -6px;
}
    </style>

</head>
<!-- a linha transform tira a propriedade de adaptar do css 
     .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color:rgb(52,58,68);
        color: white;
        text-align: center;
        }
  	footer {
    background-color: rgb(15, 11, 49);
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
    overflow: hidden;
    }
    
          .input-group-addon {
      min-width:200px;  
      background-color: yellow;
      text-align:left;
      }


-->
<body>


<nav class="navbar navbar-dark bg-dark">

  <div class="container">
  <a class="navbar-brand" href="/">Boleias no Fundão</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item">
          <a class="nav-link" href="/loginAdmin">Login</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         Registar
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="/singup">Registar como Condutor</a>
          <a class="dropdown-item" href="/singupPassageiro">Registar como Passageiro</a>
        </div>
      </li> 
        <li class="nav-item">
          <a class="nav-link" href="/ajuda">Ajuda</a>
          <a class="nav-link" href="/about">Quem somos</a>
      </li>
    </ul>
  </div>
  </div>
</nav>





<div class="container">



  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>